<%= form_for(@match_datum) do |f| %>
  <% if @match_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match_datum.errors.count, "error") %> prohibited this match_datum from being saved:</h2>

      <ul>
      <% @match_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :squad %><br />
    <%= f.text_field :squad %>
  </div>
  <div class="field">
    <%= f.label :lineup_position %><br />
    <%= f.number_field :lineup_position %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :shooter_id %><br />
    <%= f.number_field :shooter_id %>
  </div>
  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.number_field :division_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
