<p id="notice"><%= notice %></p>
<p>
<b>Name:</b> <%= @stage.name %>
</p>

<p>
  <b>Number of targets:</b>
  <%= @stage.number_of_targets %>
</p>

<p>
  <b>Match:</b>
  <%= @stage.match_id %> - 
  <%= @stage.match.title %>
</p>

<% if @stage_scores.count > 0 %>
  <ul>
  <% @stage_scores.each do |score| %>
    <li><%= score.shooter.name %> | Points down: <%= score.points_down %>
  <% end %>
</ul>
<% else %>
  <b>No scores recorded.</b>
<% end %>


<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
