<h1>Listing stage_scores</h1>

<table>
  <tr>
    <th>Points down</th>
    <th>No shoots</th>
    <th>Procedurals</th>
    <th>Shot time</th>
    <th>Stage</th>
    <th>Match</th>
    <th>Shooter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stage_scores.each do |stage_score| %>
  <tr>
    <td><%= stage_score.points_down %></td>
    <td><%= stage_score.no_shoots %></td>
    <td><%= stage_score.procedurals %></td>
    <td><%= stage_score.shot_time %></td>
    <td><%= stage_score.stage_id %></td>
    <td><%= stage_score.stage.match.title %></td>
    <td><%= stage_score.shooter.name %></td>
    <td><%= link_to 'Show', stage_score %></td>
    <td><%= link_to 'Edit', edit_stage_score_path(stage_score) %></td>
    <td><%= link_to 'Destroy', stage_score, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage score', new_stage_score_path %>
