<!DOCTYPE html>
<html>
<head>
  <title>League</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<ul>
  <li><%= link_to "Divisions", divisions_path %>
  <li><%= link_to "Matches", matches_path %>
  <li><%= link_to "Match Data", match_data_path %>
  <li><%= link_to "Shooters", shooters_path %>
  <li><%= link_to "Stages", stages_path %>
  <li><%= link_to "Stage Scores", stage_scores_path %>
</ul>

<h2>To Do:</h2>
<ul>
  <li>Add IPSC, IDPA, 'custom' to divisions. In other words, allow people to make their own divisions
  <li>When creating a stage, you have to make it through a match. IE can't make a stage then assign it to a match (yet - required filtering)
  <li>Creating a StageScore can only be done through the person currently in line/should only show stages in the match, and people in the match (pull from MatchData)
  <li>Modify shot time to be in minutes:seconds:milliseconds on StageScore
  <li>Stage Leaderboards
  <li>Match Leaderboards
  <li>League Leaderboards
</ul>


</body>
</html>
